@font-face {
  font-family: "raleway";
  src: url("fonts/Raleway-Medium.ttf");
}

@font-face {
  font-family: "raleway-light";
  src: url("fonts/Raleway-Light.ttf");
}
@font-face{
  font-family: "raleway-bold"
  src: url("fonts/Raleway-Bold.ttf");
}
@font-face{
  font-family: "sf-orson"
  src: url("fonts/SF Orson Casual Medium.ttf");
}
@font-face{
  font-family: libel;
  src: url('fonts/libel-suit-rg.ttf');
}

body{
  background-color: #f9fafc;
}

.navbar {
  background-color:transparent;
}

.navbar-show {
  background-color:#292d33;
  box-shadow: 1px 1px grey;
}

.logo{
  height: 35px;
  width: 35px
}

.navbar-brand{
  color: white;
  font-family: raleway;
  position:relative;
}

.nav-link {
  color: white;
}

.nav-parent {
  float:none;
  display: block;
}

.nav-items {
color:white;
padding: 5px;
font-family: raleway;
}

.nav-items:hover {
text-decoration: none;
}

.pages {
  color: white;
  position: absolute;
  right: 10px;
  top: 15px;
}

.top-container {
  backgrond-color: grey;
  position: relative;
  width: 100%;
  height: 70vh;
  left:0;
  right:0;
}

.container-two {
  position: relative;
  width: 100vw;
  height: 90vh;
  left:0;
  right:0;
}

#video-container {
  position: absolute;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	overflow: hidden;
  filter: opacity(100%);
}
video {
	position:absolute;
	z-index:0;
}
video.fillWidth {
	width: 100%;
}

.overlay {
    position:absolute;
    z-index:3000000;
}

.catchline{
  z-index:300000;
  width:60%;
  position: relative;
  top:30vh;
  margin: 0 auto;
  font:raleway;
  color:white;
  font-size:32px;
  text-align: center;
}


.secondary-text {
  z-index:300000;
  width:80%;
  position: relative;
  top:35vh;
  margin: 0 auto;
  color:white;
  font-size:24px;
  text-align: center;
}

.second-container {
  background-color: white;
  position: relative;
  margin: auto;
  width: 85%;
  height: 85vh;
  top:10px;
  left:0;
  right:0;
  margin-bottom:5vh;
}

.titles{
  position: relative;
  top:10%;
  padding-bottom: 5%;
  margin: auto;
  color: black;
  font-family: libel;
  font-size: 30px;
}
.titles2{
  position: relative;
  margin: auto;
  color: black;
  font-family: libel;
  font-size: 30px;
  margin-top: 5vh;
}
.left-side{
  position: relative;
  float:left;
  width: 42vw;
  padding-right: 2vw;
}

.right-side{
  float:right;
  position: relative;
  width: 40vw;
}

.upside {
  position: relative;
  width: 100%;
  height: auto;
  background:#f9fafc;
}

.downside {
  margin-top: 2vh;
  clear:both;
  position:relative;
  width: 100%;

}

.block {
  overflow: hidden;
  display:inline-block;
  margin-top: 5vh;
  margin-left: 5vw;
  float: left;
  width: 12vw;
  height: 12vw;
  background-color: white;
  cursor: hand;
}

.box-img {
    position:relative;
    top: 5vh;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.cover {
  text-align: center;
  color: black;
  transition: .5s ease;
  opacity: 0;
  position: relative;
  height: 70%;
  width: 70%;
  margin-top: 0;
  margin-left: 6vw;
  position: inherit;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.rep {
  color: black;
  transition: .5s ease;
  position: relative;
  height: inherit;
  width:inherit;
  margin: inherit;
  position: inherit;
}

.block:hover .box-img {
  opacity: 0.3;
}

.block:hover .cover {
  opacity: 1;
}
